html {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;

    font-weight: normal;
    font-style: normal;
}

body {
    max-width: 1440px;
    margin: auto;
    font-family: "Open Sans", sans-serif;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.header-background {
    background: url("assets/img/backgrounds/header-background.png");
}

.header {
    padding-top: 19px;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__icon {
    display: inline-block;
    width: 70px;
    height: 60px;
    background: url("assets/img/logo.svg");
    margin-right: 15px;
}

.logo__title {
    font-family: "Roboto", sans-serif;
    font-size: 3.2rem;
    line-height: 6rem;
    text-transform: uppercase;
    color: #F7F7F7;
}

.header__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__item {
    margin-right: 61px;
    list-style: none;
    text-transform: capitalize;
}

.header__item:last-child {
    margin-right: 0;
}

.header__link {
    font-family: "Open Sans", sans-serif;
    font-size: 2.3rem;
    line-height: 6rem;
    color: #F7F7F7;
    letter-spacing: 0.4px;
}

.header__link:hover {
    color: #CD6326;
}

.header__search {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url("assets/img/header/search-icon.svg") center no-repeat;
}

.header__button {
    width: 120px;
    height: 50px;
    border: 2px solid #CD6326;
    border-radius: 5px;
    background: space;

    font-family: "Roboto", sans-serif;
    font-size: 2.3rem;
    line-height: 2.7rem;
    text-align: center;
    color: #F7F7F7;
    letter-spacing: 0.5px;

    cursor: pointer;
}

.header__button:hover {
    background: #CD6326;
}

.survival {
    padding: 120px 0 240px;
}

.survival__title {
    font-family: "Open Sans", sans-serif;
    font-size: 4.8rem;
    line-height: 7.2rem;
    letter-spacing: 2px;
    color: #CD6326;

    margin-bottom: 51px;
}

.survival__text {
    font-family: "Open Sans", sans-serif;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: #F7F7F7;

    max-width: 274px;
    margin-bottom: 49px;
}

.survival__button {
    width: 160px;
    height: 60px;
    background: #CD6326;
    border-radius: 5px;

    font-family: "Roboto", sans-serif;
    font-size: 2.3rem;
    line-height: 2.7rem;
    text-align: center;
    color: #F7F7F7;
}

.survival__button:hover {
    background: #E39128;
}

.latest-articles {
    padding: 120px 0;
    background: #CCCCCC;
}

.latest-articles__title {
    font-size: 4.8rem;
    line-height: 7.2rem;
    text-align: center;
    color: #333333;

    margin-bottom: 20px;
}

.latest-articles__subtitle {
    font-size: 2.4rem;
    line-height: 3.6rem;
    text-align: center;
    color: #666666;

    margin-bottom: 120px;
}

.latest-articles__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    display: inline-block;
    background: url("assets/img/latest-article/arrow.svg") no-repeat;
    width: 26px;
    height: 39px;
    
    cursor: pointer;
}

.arrow-right {
    transform: rotate(180deg);
}

.card {
    width: 300px;
    height: 360px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.card__title {
    font-size: 2.2rem;
    line-height: 3.6rem;
    color: #F7F7F7;

    margin-bottom: 10px;
}

.card__subtitle {
    font-size: 1.7rem;
    line-height: 2.7rem;
    color: #F7F7F7;

    margin-bottom: 40px;
}

.latest-articles__item-1 {
    background: url("assets/img/latest-article/articles-1.jpg") no-repeat;
}

.latest-articles__item-2 {
    background: url("assets/img/latest-article/articles-2.jpg") no-repeat;
}

.latest-articles__item-3 {
    background: url("assets/img/latest-article/articles-3.jpg") no-repeat;
}

.get-notified {
    padding: 120px 0 240px;
    background: #CCCCCC; 
}

.get-notified__title {
    font-size: 2.7rem;
    line-height: 4rem;
    text-align: center;
    color: #333333;

    margin-bottom: 61px;
}

.get-notified__form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.get-notified__email {
    width: 540px;
    height: 60px;
    padding: 10px 15px 0;

    background: space;
    border: 1px solid #666666;
    border-right: none;
}

.get-notified__email::placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 2.3rem;
    line-height: 2.7rem;
    color: #666666;
    letter-spacing: 1px;
}

.get-notified__button {
    width: 120px;
    height: 60px;
    background: #CD6326;
    border: 1px solid #CD6326;
    border-radius: 0px 5px 5px 0px;

    font-family: "Roboto", sans-serif;
    font-size: 2.3rem;
    line-height: 2.7rem;
    text-align: center;
    color: #F7F7F7;
}